* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFE1FF;
  min-height: 100vh;
  width: 100%;
}
body .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body header .hero {
  width: 100%;
  height: 400px;
  background: #FF8247;
}
body header .hero .logo-img {
  width: 100%;
  max-width: 550px;
  height: 360px;
}
body header .hero .nav-content {
  width: 100%;
}
body header .hero .nav-content .navigation {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 5px 10px;
  list-style: none;
}
body header .hero .nav-content .navigation a {
  font-size: 20px;
  color: #FFE7BA;
  text-decoration: none;
}
body main .grid {
  width: 100%;
  max-width: 1020px;
  height: 464px;
  margin: 0 auto;
}
body main section h1 {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  margin-top: 10px;
  margin-left: 144px;
}
body main section .call-action {
  font-family: "Pacifico", cursive;
  width: 100%;
  max-width: 900px;
  margin-left: 144px;
  margin-bottom: 134px;
  font-size: 35px;
}
body main section .img-center {
  margin: 10px;
}
body main section #about, body main section #toys {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 5px;
}
body main section .text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
  max-width: 650px;
  margin: 10px;
  font-size: 20px;
}
body main section .carrousel-slide {
  margin: 25px 2px;
  display: flex;
  width: 100%;
  height: 555px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body main section .carrousel-slide .container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 458px;
  height: 552px;
}
body main section .carrousel-slide .container-images .slider {
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}
body main section .carrousel-slide .container-images .on {
  opacity: 1;
}
body main section .carrousel-slide #change-btn,
body main section .carrousel-slide #return-btn {
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
body main section .carrousel-slide #change-btn img,
body main section .carrousel-slide #return-btn img {
  width: 100%;
  height: 100%;
}
body main section #toys {
  margin-bottom: 30px;
}
body main section .grid-container {
  margin: 2px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-content: center;
  align-items: center;
}
body main section .grid-container .container-img {
  border-radius: 10px;
  width: 100%;
  max-width: 308px;
  height: 310px;
}
body main section .grid-container .container-img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
body main section .grid-container .container-img p {
  margin: 5px auto;
  max-width: 275px;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
