@use './forward/lib';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lib.$body-bgColor;
    min-height: 100vh;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    .hero {
        width: 100%;
        height: 400px;
        background: lib.$primary;

        @include lib.breakpoint(mobile) {
            height: 250px;
         }
         
         @include lib.breakpoint(tablet) {
             height: 350px;
         }

        .logo-img {
            width: 100%;
            max-width: 540px;
            height: 360px;
            border: none;

            @include lib.breakpoint(mobile) {
                max-width: 240px;
                height: 220px;
             }
             
             @include lib.breakpoint(tablet) {
                max-width: 350px;
                height: 310px;
             }
        }

        .nav-content {
            width: 100%;

            .navigation {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                list-style: none;

                a {
                    font-family: lib.$font-primary;
                    text-shadow: 2px 1px 2px gray;
                    font-size: lib.$size-primary;
                    color: lib.$nav-color;
                    text-decoration: none;
                    border: none;

                    @include lib.breakpoint(mobile) {
                        font-size: 0.8rem;
                    }

                    @include lib.breakpoint(tablet) {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

main {
    @include lib.d-flex(flex, center, center);
    flex-direction: column;
    width: 100%;
    flex: 1 0 auto;

    .grid {
        width: 100%;
        max-width: 970px;
        height: 464px;
    }

    section {
        margin-top: 5px;
        width: 100%;
        max-width: 900px;

        h1 {
            font-family: lib.$font-primary;
            font-size: lib.$size-call;
            margin-top: 10px;
            margin-right: 520px;

            @include lib.breakpoint(mobile) {
                margin-right: 5px;
                margin-left: 15px;
                font-size: 1rem;
            }

            @include lib.breakpoint(tablet) {
                margin-left: 20px;
                font-size: 1.4rem;
            }
        }

        .call-action {
            font-family: lib.$font-primary;
            width: 100%;
            max-width: 900px;
            margin-right: 520px;
            margin-bottom: 134px;
            font-size: lib.$size-callAction;

            @include lib.breakpoint(mobile) {
                margin-right: 1px;
                margin-bottom: 50px;
                margin-left: 15px;
                font-size: 0.8rem;
                max-width: 265px;
            }

            @include lib.breakpoint(tablet) {
                margin-right: 1px;
                margin-bottom: 50px;
                margin-left: 20px;
                font-size: 1.2rem;
                max-width: 430px;
            }
        }

        .img-center {
            margin: 5px;

            @include lib.breakpoint(mobile) {
               max-width: 260px;
               height: auto;
            }
            
            @include lib.breakpoint(tablet) {
                max-width: 460px;
                height: auto;
            }
        }

        #about,
        #toys,
        #contacts {
            font-size: lib.$size-callAction;
            margin-top: 30px;
            margin-bottom: 5px;

            @include lib.breakpoint(mobile) {
                margin-left: 10px;
                font-size: 0.9rem;
            }

            @include lib.breakpoint(tablet) {
                font-size: 1.3rem;
                margin-left: 12px;
            }
        }

        .text {
            font-family: lib.$font-secondary;
            font-weight: 300;
            max-width: 650px;
            margin: 5px;
            font-size: lib.$size-primary;

            a {text-decoration: none;}

            @include lib.breakpoint(mobile) {
                max-width: 330px;
                font-size: 0.7rem;
            }

            @include lib.breakpoint(tablet) {
                max-width: 350px;
                font-size: 0.9rem;
            }
        }

        .carrousel-slide {
            margin: 25px 3px;
            @include lib.d-flex(flex, center, center);
            height: 555px;
            gap: 5px;

            @include lib.breakpoint(mobile) {
               height: 300px;
               margin: 10px 3px;
               gap: 2px;

            }

            .container-images {
                position: relative;
                @include lib.d-flex(flex, center, center);
                width: 100%;
                max-width: 458px;
                height: 552px;

                @include lib.breakpoint(mobile) {
                    max-width: 260px;
                    height: 270px;
                }

                @include lib.breakpoint(tablet) {
                    max-width: 358px;
                    height: 450px;
                }

                .slider {
                    opacity: 0;
                    transition: 0.5s;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    border-radius: lib.$radius-primary;
                }

                .on {
                    opacity: 1;
                }
            }

            #change-btn,
            #return-btn {
                width: 80px;
                height: 80px;
                border: none;
                background-color: transparent;
                cursor: pointer;

                @include lib.breakpoint(mobile) {
                    max-width: 40px;
                    height: auto;
                }

                @include lib.breakpoint(tablet) {
                    max-width: 60px;
                    height: auto;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        #toys {
            margin-bottom: 30px;
        }

        .grid-container {
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: max-content;
            gap: 5px;
            justify-content: center;
            align-items: center;

            @include lib.breakpoint(mobile) {
                grid-template-columns: repeat(2, 1fr);
                gap: 52px 2px;
            }

            .container-img {
                border-radius: lib.$radius-primary;
                width: 100%;
                max-width: 308px;
                height: 310px;

                @include lib.breakpoint(mobile) {
                    margin-left: 5px;
                    width: 100%;
                    max-width: 150px;
                    height: 140px;
                }

                @include lib.breakpoint(tablet) {
                    margin-left: 15px;
                    width: 100%;
                    max-width: 208px;
                    height: 210px;
                }

                img {
                    border-radius: lib.$radius-primary;
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }

                p {
                    margin: 5px auto;
                    max-width: 275px;
                    font-size: 19px;
                    font-family: lib.$font-secondary;
                    font-weight: bold;
                    text-align: center;

                    @include lib.breakpoint(mobile) {
                        font-size: 0.7rem;
                    }
                }
            }
        }

    }
}

footer {
    margin-top: 122px;
    width: 100%;
    height: 223px;
    background-color: lib.$secondary;

    @include lib.breakpoint(mobile) {
        margin-top: 40px;
        height: 120px;
     }
     
     @include lib.breakpoint(tablet) {
        margin-top: 80px;
        height: 210px;
     }

    #contacts,
    span {
        margin: 5px;
        padding: 3px;
    }

    .container-footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @include lib.breakpoint(mobile) {
            font-size: 0.7rem;
         }

        .container-icon {
            margin: 5px;
            width: 100%;
            @include lib.d-flex(flex, center, center);
            gap: 5px;
            padding: 2px;

            img {
                width: 100%;
                max-width: 43px;
                height: 43px;

                @include lib.breakpoint(mobile) {
                    height: 20px;
                    width: 20px;
                 }
                 
                 @include lib.breakpoint(tablet) {
                    height: 30px;
                    width: 30px;
                 }

            }

            a {
                text-decoration: none;
                color: black;
                cursor: pointer;
            }
        }
    }

    .btn-top {
        position: fixed;
        opacity: 0;
        top: 550px;
        right: 135px;
        margin: 2px;
        z-index: 1001;
        transition: 0.6s;
        
        @include lib.breakpoint(mobile) {
            display: none;
        }
        
        @include lib.breakpoint(tablet) {
            top: 555px;
            right: 117px;
        }

        @include lib.breakpoint(desktop) {
            top: 535px;
            right: 150px;
        }

        #to-top-btn {
            cursor: pointer;
            padding: 2px;
            border-radius: 50%;
            border: 1px solid darkgray;
            width: 30px;
            height: 30px;

            img {
                width: 100%;
            }
        }
    }

    .copy {
        @include lib.d-flex(flex, center, center);
        width: fit-content;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px auto;
        font-size: 0.7rem;
    }
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    @include lib.d-flex(flex, center, center);

    @include lib.breakpoint(mobile) {
        top: 469px;
        right: 20px;
     }
}

.whatsapp-button a {
    display: block;
    background-color: #25d366;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    @include lib.breakpoint(mobile) {
       padding: 3px;
    }
}

.whatsapp-button img {
    width: 40px;
    height: 40px;

    @include lib.breakpoint(mobile) {
        height: auto;
        width: 25px;
    }
}